/* You can add global styles to this file, and also import other style files */
.is-complete {
    text-decoration: line-through;
}
.header{
    background: #999911;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.header a {
    color: #fff;
    text-decoration: none;
}
.form{
    display: flex;
}
.form input[type='text']{
    flex: 10;
    padding: 5px;
} 
.form input[type = 'submit']{
    flex:2;
}
.newitem {
    background-color: aquamarine;
}